* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.slide_wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.slide_util {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.slide_area {
	overflow: hidden;
}

.slide_list {
	font-size: 0;
}

.slide_item {
	display: inline-block;
	width: 400px;
	height: 400px;
	font-size: 100px;
    color: #fff;
}

.slide_indicator li.active button {
	background-color: red;
}

.slide_indicator {
	display: flex;
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	margin-top: 10px;
    justify-content: center;
}

.slide_indicator li {
	margin: 0 5px;
}

.slide_indicator li button {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-indent: -9999px;
}

